.vs/
Antlr/.antlr/
Antlr/bin/
Antlr/obj/
Bison/.antlr/
Bison/bin/
Bison/obj/
Flex/.antlr/
Flex/bin/
Flex/obj/
lexer-as-parser/.antlr/
lexer-as-parser/bin/
lexer-as-parser/obj/
mysql-c/packages/
mysql-c/x64/
mysql/.antlr/
mysql/.vs/
mysql/bin/
mysql/obj/
Tomaszewski/.antlr/
Tomaszewski/bin/
Tomaszewski/obj/
yes/yes1/bin/
yes/yes1/obj/
yes/yes2/bin/
yes/yes2/obj/
yes/yes3/bin/
yes/yes3/obj/
Java/bin/
Java/obj/
JavaParr/bin/
JavaParr/obj/
JavaFixed/obj/
JavaFixed/bin/
CMakeProject1/out/build/x64-Debug/
xpath-full/bin/
xpath-full/obj/
xpath31/bin/
xpath31/obj/
.idea/
CMakeProject1/.vscode/
Antlr/ANTLRv4Lexer.cs
Antlr/ANTLRv4Lexer.interp
Antlr/ANTLRv4Lexer.tokens
Antlr/ANTLRv4Parser.cs
Antlr/ANTLRv4Parser.interp
Antlr/ANTLRv4Parser.tokens
Antlr/ANTLRv4ParserBaseListener.cs
Antlr/ANTLRv4ParserBaseVisitor.cs
Antlr/ANTLRv4ParserListener.cs
Antlr/ANTLRv4ParserVisitor.cs
Bison/BisonLexer.cs
Bison/BisonLexer.interp
Bison/BisonLexer.tokens
Bison/BisonParser.cs
Bison/BisonParser.interp
Bison/BisonParser.tokens
Bison/BisonParserBaseListener.cs
Bison/BisonParserBaseVisitor.cs
Bison/BisonParserListener.cs
Bison/BisonParserVisitor.cs
Flex/FlexLexer.cs
Flex/FlexLexer.interp
Flex/FlexLexer.tokens
Flex/FlexParser.cs
Flex/FlexParser.interp
Flex/FlexParser.tokens
Flex/FlexParserBaseListener.cs
Flex/FlexParserBaseVisitor.cs
Flex/FlexParserListener.cs
Flex/FlexParserVisitor.cs
Java/Java9.interp
Java/Java9.tokens
Java/Java9BaseListener.cs
Java/Java9BaseVisitor.cs
Java/Java9Lexer.cs
Java/Java9Lexer.interp
Java/Java9Lexer.tokens
Java/Java9Listener.cs
Java/Java9Parser.cs
Java/Java9Visitor.cs
JavaFixed/Java9Lexer.cs
JavaFixed/Java9Lexer.interp
JavaFixed/Java9Lexer.tokens
JavaFixed/Java9Parser.additionalBound.dot
JavaFixed/Java9Parser.additiveExpression.dot
JavaFixed/Java9Parser.ambiguousName.dot
JavaFixed/Java9Parser.andExpression.dot
JavaFixed/Java9Parser.annotation.dot
JavaFixed/Java9Parser.annotationTypeBody.dot
JavaFixed/Java9Parser.annotationTypeDeclaration.dot
JavaFixed/Java9Parser.annotationTypeElementDeclaration.dot
JavaFixed/Java9Parser.relationalExpression.dot
JavaFixed/Java9Parser.requiresModifier.dot
JavaFixed/Java9Parser.resource.dot
JavaFixed/Java9Parser.resourceList.dot
JavaFixed/Java9Parser.resourceSpecification.dot
JavaFixed/Java9Parser.result.dot
JavaFixed/Java9Parser.returnStatement.dot
JavaFixed/Java9Parser.assignmentExpression.dot
JavaFixed/Java9Parser.assignmentOperator.dot
JavaFixed/Java9Parser.basicForStatement.dot
JavaFixed/Java9Parser.basicForStatementNoShortIf.dot
JavaFixed/Java9Parser.block.dot
JavaFixed/Java9Parser.blockStatement.dot
JavaFixed/Java9Parser.blockStatements.dot
JavaFixed/Java9Parser.castExpression.dot
JavaFixed/Java9Parser.catchClause.dot
JavaFixed/Java9Parser.catches.dot
JavaFixed/Java9Parser.catchFormalParameter.dot
JavaFixed/Java9Parser.catchType.dot
JavaFixed/Java9Parser.classBody.dot
JavaFixed/Java9Parser.classBodyDeclaration.dot
*.dot
JavaParr/Java.interp
JavaParr/Java.tokens
JavaParr/JavaBaseListener.cs
JavaParr/JavaBaseVisitor.cs
JavaParr/JavaLexer.cs
JavaParr/JavaLexer.interp
JavaParr/JavaLexer.tokens
JavaParr/JavaListener.cs
JavaParr/JavaParser.cs
JavaParr/JavaVisitor.cs
lexer-as-parser/arithmetic.interp
lexer-as-parser/arithmetic.tokens
lexer-as-parser/arithmeticParser.cs
lexer-as-parser/arithmeticVisitor.cs
mysql/MySQLLexer.cs
mysql/MySQLLexer.interp
mysql/MySQLLexer.tokens
mysql/MySQLParser.cs
mysql/MySQLParser.interp
Tomaszewski/Tomaszewski.interp
Tomaszewski/Tomaszewski.tokens
Tomaszewski/TomaszewskiBaseListener.cs
Tomaszewski/TomaszewskiBaseVisitor.cs
Tomaszewski/TomaszewskiLexer.cs
Tomaszewski/TomaszewskiLexer.interp
Tomaszewski/TomaszewskiLexer.tokens
Tomaszewski/TomaszewskiParser.cs
Tomaszewski/TomaszewskiVisitor.cs
xpath31/XPath31.interp
xpath31/XPath31.tokens
xpath31/XPath31BaseListener.cs
xpath31/XPath31BaseVisitor.cs
xpath31/XPath31Lexer.cs
xpath31/XPath31Lexer.tokens
xpath31/XPath31Listener.cs
xpath31/XPath31Parser.cs
JavaFixed/Java9Parser.cs
JavaFixed/Java9Parser.interp
JavaFixed/Java9Parser.tokens
JavaFixed/Java9ParserBaseListener.cs
JavaFixed/Java9ParserBaseVisitor.cs
JavaFixed/Java9ParserListener.cs
JavaFixed/Java9ParserVisitor.cs
lexer-as-parser/arithmeticBaseVisitor.cs
lexer-as-parser/arithmeticLexer.cs
lexer-as-parser/arithmeticLexer.interp
lexer-as-parser/arithmeticLexer.tokens
lexer-as-parser/arithmeticListener.cs
lexer-as-parser/arithmeticBaseListener.cs
mysql/MySQLParser.tokens
Tomaszewski/TomaszewskiListener.cs
xpath31/XPath31Lexer.interp
xpath31/XPath31Visitor.cs
Expressions/
Matlab/matlab.interp
Matlab/matlab.tokens
Matlab/matlabBaseListener.cs
Matlab/matlabBaseVisitor.cs
Matlab/matlabListener.cs
Matlab/matlabVisitor.cs
Matlab/matlabLexer.cs
Matlab/matlabLexer.interp
Matlab/matlabLexer.tokens
Matlab/matlabParser.cs
Matlab/matlabParser.interp
Matlab/matlabParser.tokens
Matlab/matlabParserBaseListener.cs
Matlab/matlabParserBaseVisitor.cs
Matlab/matlabParserListener.cs
Matlab/matlabParserVisitor.cs
Matlab/OctLexer.cs
Matlab/OctLexer.interp
Matlab/OctLexer.tokens
Matlab/OctParser.cs
Matlab/OctParser.interp
Matlab/OctParser.tokens
Matlab/OctParserBaseListener.cs
Matlab/OctParserBaseVisitor.cs
Matlab/OctParserListener.cs
Matlab/OctParserVisitor.cs
Matlab/bin/
Matlab/obj/
AntlrTargetCSharp/obj/
AntlrTargetCSharp/bin/
pl1/bin/
pl1/obj/
Antlr3/bin/
Antlr3/obj/
Antlr2/bin/
Antlr2/obj/
fluent/bin/
fluent/obj/
W3Cebnf/bin/
W3Cebnf/obj/
JavaKen/
Indirect/
Easy/
ArithmeticAntlr4cs/bin/
ArithmeticAntlr4cs/obj/
ArithmeticAntlr4Std/bin/
ArithmeticAntlr4Std/obj/
sexpression/bin/
sexpression/obj/
abcs/input
abcs/bin/
abcs/obj/
CSharp/bin/
CSharp/obj/
Filter/obj/
Java/Generated/
Filter/bin/
Filter/bad/bin/
Filter/bad/obj/
Filter/better/bin/
Filter/better/obj/
Filter/mod/obj/
Javascript/C#/obj/
Javascript/JS/node_modules/
Javascript/C#/bin/
Javascript/JS/package-lock.json
